<div class="container">
  <form [formGroup]= "form" (submit)="onSaveData()">
    <mat-form-field>
      <label>Title</label>
      <input matInput type="text" formControlName = "title">
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <label>Content</label>
      <input matInput type="text" formControlName = "content">
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <label>Status</label>
      <mat-select [formControl]="status">
        <mat-option *ngFor = "let emoji of emojis" [value] = "emoji.value">
          {{emoji.veiwValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>

    <button type="submit">Submit</button>

  </form>
</div>
