<div class="container">
  <form [formGroup]= "form" (submit)="onSaveData()">
    <mat-form-field color = "pirmary">
      <mat-label>Title</mat-label>
      <div *ngIf ="mode==='create'"><input matInput type="text" formControlName = "title" required></div>
      <div *ngIf ="mode==='edit'"><input matInput type="text" [value]="toUpdataData.data.title" formControlName = "title" required></div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <div *ngIf ="mode==='create'"><input matInput type="text" formControlName = "content" required></div>
      <div *ngIf ="mode==='edit'"><input matInput type="text" [value]="toUpdataData.data.content" formControlName = "content" required></div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor = "let emoji of emojis" [value] = "emoji.value">
          <p>{{emoji.viewValue}}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button *ngIf = "mode === 'create'" mat-raised-button type="submit">Submit</button>
    <button *ngIf = "mode === 'edit'" mat-raised-button type="submit">Modified</button>
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
