<mat-toolbar>
  <a mat-button routerLink = "/blog" routerLinkActive="mat-accent">BLOG</a>
  <a mat-button routerLink = "/funToy" routerLinkActive="mat-accent">Fun Toys</a>
  <div id="spacer"></div>
  <a *ngIf="!userIsAuthenticated" mat-button routerLink = "/signUp" routerLinkActive="mat-accent">Sign Up</a>
  <a *ngIf="!userIsAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
  <button *ngIf="userIsAuthenticated" mat-button (click)="onLogOut()">Logout</button>
</mat-toolbar>
