<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card class="card"  *ngFor = "let data of datas">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
    </div>
    <mat-card-title >{{data.title}}</mat-card-title>
    <mat-card-subtitle>{{data.date}}</mat-card-subtitle>
    <mat-card-subtitle>{{data.status}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf = "data.status == null">normal</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{data.content}}</p>
    <div *ngIf = "data.imagePath != null" class="post-image">
      <img [src]="data.imagePath" [alt]="data.title">
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="userIsAuthenticated">
    <app-toolbar [data]="data"></app-toolbar>
  </mat-card-actions>
</mat-card>
